@model IEnumerable<Technician>
@{
    ViewBag.Title = "Technician Manager - SportsPro";
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Technician tech in Model)
        {
            <tr>
                <td>@tech.Name</td>
                <td>@tech.Email</td>
                <td>@tech.Phone</td>
                <td>
                    <a asp-controller="Technician" asp-action="Edit" asp-route-id="@tech.TechnicianId">Edit</a>
                </td>
                <td>
                    <a asp-controller="Technician" asp-action="Delete" asp-route-id="@tech.TechnicianId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-controller="Technician" asp-action="Add">Add Technician</a>