@model Incident

@{
    ViewBag.Title = "Add/Edit Page";
}

<form asp-controller="Incident" asp-action="Edit" method="post" class="border">

    <div>
        <label>Customer</label>
        <select asp-for="CustomerId">
            @foreach (Customer customer in ViewBag.Customers)
            {
                @if (Model.CustomerId == customer.CustomerId)
                {
                    <option value="@customer.CustomerId" selected>@customer.Firstname @customer.Lastname</option>
                }
                else
                {
                    <option value="@customer.CustomerId">@customer.Firstname @customer.Lastname</option>
                }
            }
        </select>
        </div>
    <div>
        <label>Product</label>
        <select asp-for="ProductId" >
            @foreach (Product product in ViewBag.Products)
            {
                @if (Model.ProductId == product.ProductId)
                {
                    <option  value="@product.ProductId" selected>@product.Name</option>
                }
                else
                {
                    <option value="@product.ProductId">@product.Name</option>
                }
            }
        </select>
    </div>
    <div>
        <label asp-for="Title">Title</label>
        <input asp-for="Title" />
        <span asp-validation-for="Title"></span>
    </div>
    <div>
        <label asp-for="Description">Description</label>
        <textarea asp-for="Description"></textarea>
        <span asp-validation-for="Description"></span>
    </div>
    <div>
        <select asp-for="TechnicianId" id="Technician">
            @foreach (Technician tech in ViewBag.Technicians)
            {
                @if (Model.TechnicianId == tech.TechnicianId)
                {
                    <option asp-for="@tech.TechnicianId" value="@tech.TechnicianId" selected>@tech.Name</option>
                }
                else
                {
                    <option asp-for="@tech.TechnicianId" value="@tech.TechnicianId">@tech.Name</option>
                }
            }
        </select>
    </div>
    <div>
        <label asp-for="DateOpened">Date Opened</label>
        <input asp-for="DateOpened" />
    </div>
    <div>
        <label asp-for="DateClosed">Date Closed</label>
        <input asp-for="DateClosed" />
        <span asp-validation-for="DateClosed"></span>
    </div>
    <input type="hidden" asp-for="IncidentId" />
    <div>
        <button type="submit">@ViewBag.Action</button>
        <a asp-action="List">Cancel</a>
    </div>
</form>