@model Incident

@{
    ViewBag.Title = "Add/Edit Page of Incident";
}
<div class="container pb-10">
    <div class="row align-center justify-content-center text-center py-5">
        <div class="col col-12 col-md-8">
            <h2 class="text-dark">@ViewBag.Title</h2>
            <p class="lead font-weight-lighter text-muted">Update all the data until it lasts.</p>
        </div>
    </div>
    <form asp-controller="Incident" asp-action="Edit" method="post">
        <div class="col-md-4">
            <div class="input-group mb-6">
                <label class="input-group-text">Customer:</label>
                <select asp-for="CustomerId" class="form-select" required>
                    @foreach (Customer customer in ViewBag.Customers)
                    {
                        @if (Model.CustomerId == customer.CustomerId)
                        {
                            <option value="@customer.CustomerId" selected>@customer.Firstname @customer.Lastname</option>
                        }
                        else
                        {
                            <option value="@customer.CustomerId" selected>@customer.Firstname @customer.Lastname</option>
                        }
                    }
                </select>
            </div>
        </div>
        <br />
        <div class="col-md-4">
            <div class="input-group mb-6">
                <label class="input-group-text">Product:   </label>
                <select asp-for="ProductId" class="form-select" required>
                    @foreach (Product product in ViewBag.Products)
                    {
                        @if (Model.ProductId == product.ProductId)
                        {
                            <option value="@product.ProductId" selected>@product.Name</option>
                        }
                        else
                        {
                            <option value="@product.ProductId" selected>@product.Name</option>
                        }
                    }
                </select>
            </div>
        </div>
        <div class="col-md-4">
            <label asp-for="Title" class="form-label">Title</label>
            <input asp-for="Title" class="form-control" required>
            <span asp-validation-for="Title"></span>
        </div>
        <br />
        <div class="col-md-4">
            <div class="input-group">
                <span class="input-group-text">Description:</span>
                <textarea asp-for="Description" class="form-control" aria-label="With textarea"></textarea>
                <span asp-validation-for="Description"></span>
            </div>
        </div>
        <br />
        <div class="col-md-4">
            <div class="input-group mb-6">
                <label class="input-group-text">Technician:</label>
                <select asp-for="TechnicianId" class="form-select" required>
                    @foreach (Technician tech in ViewBag.Technicians)
                    {
                        @if (Model.TechnicianId == tech.TechnicianId)
                        {
                            <option value="@tech.TechnicianId" selected>@tech.Name</option>
                        }
                        else
                        {
                            <option value="@tech.TechnicianId" selected>@tech.Name</option>
                        }
                    }
                </select>
            </div>
        </div>
        <div class="col-md-4">
            <label asp-for="DateOpened" class="form-label">Date Opened</label>
            <input asp-for="DateOpened" class="form-control" type="date" value="@String.Format("{0:yyyy-MM-dd}", @Model.DateOpened)">
        </div>
        <div class="col-md-4">
            <label asp-for="DateClosed" class="form-label">Date Closed</label>
            <input asp-for="DateClosed" class="form-control" type="date" value="@String.Format("{0:yyyy-MM-dd}", Model.DateClosed)">
        </div>
        <input type="hidden" asp-for="IncidentId" />
        <br />
        <div class="col-md-7">
            <button class="btn btn-primary" type="submit">@ViewBag.Action</button>
            <a asp-controller="Incident" asp-action="List" class="btn btn-primary">No</a>
        </div>
    </form>
</div>