@model IEnumerable<Incident>
@{
    ViewBag.Title = "Incident Manager - SportsPro";
}

<a asp-controller="Incident" asp-action="Add">Add Incident</a>
<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Customer</th>
            <th>Product</th>
            <th>Date Opened</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Incident incident in Model)
        {
            <tr>
                <td>@incident.Title</td>
                <td>@incident.</td>
                <td>@incident.Phone</td>
                <td>@incident.Phone</td>
                <td>
                    <a asp-controller="Technician" asp-action="Edit" asp-route-id="@tech.TechnicianId">Edit</a>
                </td>
                <td>
                    <a asp-controller="Technician" asp-action="Delete" asp-route-id="@tech.TechnicianId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>