@model IEnumerable<Product>
@{
    ViewBag.Title = "SportsPro Technical Support";
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">Code</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Release Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach(Product product in Model)
        {
        <tr>
            <td>@product.Code</td>
            <td>@product.Name</td>
            <td>@product.Price</td>
            <td>@String.Format("{0:dd/MM/yyyy}", product.ReleaseDate)</td>
            <td>
                <a asp-controller="Product" asp-action="Edit" asp-route-id="@product.ProductId">Edit</a>
            </td>
            <td>
                <a asp-controller="Product" asp-action="Delete" asp-route-id="@product.ProductId">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
<a asp-controller="Product" asp-action="Add">Add Product</a>