@model Customer

@{
    ViewBag.Title = "Add/Edit Page of Customer";
}
<div class="container pb-10">
    <div class="row align-center justify-content-center text-center py-5">
        <div class="col col-12 col-md-8">
            <h2 class="text-dark">@ViewBag.Title</h2>
            <p class="lead font-weight-lighter text-muted">Update all the data while you can.</p>
        </div>
    </div>
    <form asp-controller="Customer" asp-action="Edit" method="post">
        <div class="col-md-4">
            <label asp-for="Firstname" class="form-label">First name</label>
            <input asp-for="Firstname" class="form-control">
            <span class="text-danger" asp-validation-for="Firstname"></span>
        </div>
        <div class="col-md-4">
            <label asp-for="Lastname" class="form-label">Last name</label>
            <input asp-for="Lastname" class="form-control">
            <span class="text-danger" asp-validation-for="Lastname"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="Address" class="form-label">Address</label>
            <input asp-for="Address" class="form-control">
            <span class="text-danger" asp-validation-for="Address"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="City" class="form-label">City</label>
            <input asp-for="City" class="form-control">
            <span class="text-danger" asp-validation-for="City"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="State" class="form-label">State</label>
            <input asp-for="State" class="form-control">
            <span class="text-danger" asp-validation-for="State"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="Postalcode" class="form-label">Postal Code</label>
            <input asp-for="Postalcode" class="form-control">
            <span class="text-danger" asp-validation-for="Postalcode"></span>
        </div>
        <br />
        <div class="col-md-12">
            <div class="input-group mb-6">
                <label class="input-group-text">Choose Country:</label>
                <select asp-for="CountryId" class="form-select">
                    @foreach (Country country in ViewBag.Countries)
                    {
                        @if (Model.CountryId == country.CountryId)
                        {
                            <option value="@country.CountryId" selected>@country.Name</option>
                        }
                        else
                        {
                            <option value="@country.CountryId" selected>@country.Name</option>
                        }
                    }
                </select>
                <span class="text-danger" asp-validation-for="CountryId"></span>
            </div>
        </div>
        <input type="hidden" asp-for="CustomerId" />
        <div class="col-md-4">
            <label asp-for="Email" class="form-label">Email</label>
            <input asp-for="Email" type="text" class="form-control" placeholder="Email">
        </div>
        <div class="col-md-4">
            <label asp-for="Phone" class="form-label">Phone Number</label>
            <input asp-for="Phone" class="form-control">
        </div>
        <br />
        <div class="col-md-4">
            <button class="btn btn-primary" type="submit">@ViewBag.Action</button>
            <a asp-controller="Customer" asp-action="List" class="btn btn-primary">No</a>
        </div>
    </form>
</div>