@model Customer

@{
    ViewBag.Title = "Add/Edit Page";
}

    <form asp-controller="Customer" asp-action="Edit" method="post" class="row g-3 needs-validation" novalidate>
        <div class="col-md-4">
            <label asp-for="Firstname" class="form-label">First name</label>
            <input asp-for="Firstname" class="form-control" required>
            <span asp-validation-for="Firstname"></span>
        </div>
        <div class="col-md-4">
            <label asp-for="Lastname" class="form-label">Last name</label>
            <input asp-for="Lastname" class="form-control" required>
            <span asp-validation-for="Lastname"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="Address" class="form-label">Address</label>
            <input asp-for="Address" class="form-control" required>
            <span asp-validation-for="Address"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="City" class="form-label">City</label>
            <input asp-for="City" class="form-control" required>
        <span asp-validation-for="City"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="State" class="form-label">State</label>
            <input asp-for="State" class="form-control" required>
        <span asp-validation-for="State"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="Postalcode" class="form-label">Postal Code</label>
            <input asp-for="Postalcode" class="form-control" required>
        <span asp-validation-for="Postalcode"></span>
        </div>
        <div>
            <label class="form-label">    </label>
        </div>
        <div class="col-md-12">
            <div class="input-group mb-6">
                <label class="input-group-text">Choose Country:</label>
                <select asp-for="CountryId" class="form-select" required>
                    @foreach (Country country in ViewBag.Countries)
                    {
                        @if (Model.CountryId == country.CountryId)
                        {
                            <option value="@country.CountryId" selected>@country.Name</option>
                        }
                        else
                        {
                            <option value="@country.CountryId">@country.Name</option>
                        }
                    }
                </select>
            </div>
        </div>
        <input type="hidden" asp-for="CustomerId" />
        <div class="col-md-7">
            <label asp-for="Email" class="form-label">Email</label>
            <input asp-for="Email" type="text" class="form-control" placeholder="Email">
        </div>
        <div class="col-md-7">
            <label asp-for="Phone" class="form-label">Phone Number</label>
            <input asp-for="Phone" class="form-control">
        </div>
        <div><label class="form-label">    </label></div>
        <div class="col-md-7">
            <button class="btn btn-primary" type="submit">@ViewBag.Action</button>
        </div>        
    </form>