@model IEnumerable<Customer>
@{
    ViewBag.Title = "SportsPro Technical Support";
}

<div class="input-group mb-3">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">City</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Customer customer in Model)
            {
                <tr>
                    <td>@customer.Firstname @customer.Lastname</td>
                    <td>@customer.Email</td>
                    <td>@customer.City</td>
                    <td>
                        <a asp-controller="Customer" asp-action="Edit" asp-route-id="@customer.CustomerId">Edit</a>
                    </td>
                    <td>
                        <a asp-controller="Customer" asp-action="Delete" asp-route-id="@customer.CustomerId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="d-grid gap-2 d-md-block">
        <a asp-controller="Customer" asp-action="Add">
            <button class="btn btn-primary" type="button">Add Customer</button>
        </a>
    </div>
</div>