@model IEnumerable<Customer>
@{
    ViewBag.Title = "SportsPro Technical Support";
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">City</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Customer customer in Model)
        {
            <tr>
                <td>@customer.Firstname</td>
                <td>@customer.Email</td>
                <td>@customer.City</td>
                <td>
                    <a asp-controller="Customer" asp-action="Edit" asp-route-id="@customer.CustomerId">Edit</a>
                </td>
                <td>
                    <a asp-controller="Customer" asp-action="Delete" asp-route-id="@customer.CustomerId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-controller="Customer" asp-action="Add">Add Contact</a>
